<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.modules.spider.mapper.HistoryTaskMapper">
  <resultMap id="BaseResultMap" type="com.bs.modules.spider.domain.HistoryTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="original_url" jdbcType="VARCHAR" property="originalUrl" />
    <result column="original_type" jdbcType="SMALLINT" property="originalType" />
    <result column="run_status" jdbcType="SMALLINT" property="runStatus" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>