<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.modules.spider.mapper.LinkTaskMapper">
  <resultMap id="BaseResultMap" type="com.bs.modules.spider.domain.LinkTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_title" jdbcType="VARCHAR" property="linkTitle" />
    <result column="original_type" jdbcType="SMALLINT" property="originalType" />
    <result column="run_status" jdbcType="SMALLINT" property="runStatus" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>



  <resultMap type="com.bs.modules.spider.domain.LinkTask" id="LinkTaskResult">
    <result property="id"    column="id"    />
    <result property="linkUrl"    column="link_url"    />
    <result property="linkTitle"    column="link_title"    />
    <result property="originalType"    column="original_type"    />
    <result property="runStatus"    column="run_status"    />
    <result property="errorMsg"    column="error_msg"    />
    <result property="userId"    column="user_id"    />
    <result property="fileKey"    column="file_key"    />
    <result property="createTime"    column="create_time"    />
    <result property="updateTime"    column="update_time"    />
  </resultMap>

  <sql id="selectLinkTaskVo">
        select`id`,`link_url`,`link_title`,`original_type`,`run_status`,`error_msg`,`user_id`,`file_key`,`create_time`,`update_time` from `t_link_task`
    </sql>

  <select id="selectLinkTaskList" parameterType="com.bs.modules.spider.domain.LinkTask" resultMap="LinkTaskResult">
    <include refid="selectLinkTaskVo"/>
    <where>
      <if test="linkUrl != null  and linkUrl != ''"> and `link_url` like concat('%', #{linkUrl}, '%')</if>
      <if test="linkTitle != null  and linkTitle != ''"> and `link_title` like concat('%', #{linkTitle}, '%')</if>
      <if test="originalType != null "> and `original_type` = #{originalType}</if>
      <if test="runStatus != null "> and `run_status` = #{runStatus}</if>
    </where>
  </select>

  <select id="selectLinkTaskById" parameterType="Integer" resultMap="LinkTaskResult">
    <include refid="selectLinkTaskVo"/>
    where `id` = #{id}
  </select>

  <insert id="insertLinkTask" parameterType="com.bs.modules.spider.domain.LinkTask" useGeneratedKeys="true" keyProperty="id">
    insert into `t_link_task`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="linkUrl != null">`link_url`,</if>
      <if test="linkTitle != null">`link_title`,</if>
      <if test="originalType != null">`original_type`,</if>
      <if test="runStatus != null">`run_status`,</if>
      <if test="errorMsg != null">`error_msg`,</if>
      <if test="userId != null">`user_id`,</if>
      <if test="fileKey != null">`file_key`,</if>
      <if test="createTime != null">`create_time`,</if>
      <if test="updateTime != null">`update_time`,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="linkUrl != null">#{linkUrl},</if>
      <if test="linkTitle != null">#{linkTitle},</if>
      <if test="originalType != null">#{originalType},</if>
      <if test="runStatus != null">#{runStatus},</if>
      <if test="errorMsg != null">#{errorMsg},</if>
      <if test="userId != null">#{userId},</if>
      <if test="fileKey != null">#{fileKey},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateTime != null">#{updateTime},</if>
    </trim>
  </insert>

  <update id="updateLinkTask" parameterType="com.bs.modules.spider.domain.LinkTask">
    update `t_link_task`
    <trim prefix="SET" suffixOverrides=",">
      <if test="linkUrl != null">`link_url` = #{linkUrl},</if>
      <if test="linkTitle != null">`link_title` = #{linkTitle},</if>
      <if test="originalType != null">`original_type` = #{originalType},</if>
      <if test="runStatus != null">`run_status` = #{runStatus},</if>
      <if test="errorMsg != null">`error_msg` = #{errorMsg},</if>
      <if test="userId != null">`user_id` = #{userId},</if>
      <if test="fileKey != null">`file_key` = #{fileKey},</if>
      <if test="createTime != null">`create_time` = #{createTime},</if>
      <if test="updateTime != null">`update_time` = #{updateTime},</if>
    </trim>
    where `id` = #{id}
  </update>

  <delete id="deleteLinkTaskById" parameterType="Integer">
        delete from `t_link_task` where `id` = #{id}
    </delete>

  <delete id="deleteLinkTaskByIds" parameterType="String">
    delete from `t_link_task` where `id` in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>