<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增分类地址')" />
</head>
<body>
    <form class="layui-form">
        <div class="mainBox">
            <div class="main-container">

                <div class="layui-form-item">
                    <label class="layui-form-label">文章分类页面地址：</label>
                    <div class="layui-input-block">
                        <input type="text" name="categoryUrl" placeholder="请输入文章地址：" class="layui-input"  lay-verify="required"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="article-save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="pear-btn pear-btn-sm">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </div>
    </form>
</body>
<th:block th:include="include :: footer" />
<script th:inline="javascript">

    layui.use(['form', 'jquery','dictionary'], function () {
        let form = layui.form;
        let $ = layui.jquery;

        let prefix = "/spider/article/";
                                                        
        form.on('submit(article-save)', function (data) {
            for(var key in data.field){
                var type=$(data.form).find("input[name='"+key+"']").attr("type");
                if(type=="checkbox"){
                    var value="";
                    $(data.form).find("input[name='"+key+"']:checked").each(function(){
                        value+=$(this).val()+",";
                    })
                    if(value!=""){
                        value=value.substr(0,value.length-1);
                        data.field[key]=value;
                    }

                }
            }
            $.ajax({
                url: prefix+'crawl/category',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'post',
                success: function (result) {
                    if (result.success) {
                        layer.msg(JSON.stringify(result.data),
                            {icon: 1, time: 3000},
                            function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                            parent.layui.table.reload("article-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    });
</script>
</html>